<header class="header">
  <div class="left">
    <img src="assets/Pause GIF image.gif" alt="Tiffino Logo" class="logo" />
    <span class="brand">Tiffino</span>
  </div>

  <nav class="center">
    <a routerLink="/">Home</a>
    <a routerLink="/cuisines">Cuisines</a>
    <a routerLink="/subscriptions">Subscription</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
 
  </nav>

  <div class="right">
    <a routerLink="/wishlist" title="Wishlist"><i class="fas fa-heart"></i></a>
    <a routerLink="/addtocart" title="Cart"><i class="fas fa-shopping-cart"></i></a>
    <a routerLink="/profile" title="Profile"><i class="fas fa-user"></i></a>
    <div class="menu-toggle" (click)="toggleMenu()">☰</div>

    <div class="menu-dropdown" *ngIf="menuOpen">
      <a routerLink="/foodcart">Food Cart</a>
      <a routerLink="/mealavailability">Meal Availability</a>
      <a routerLink="/mealplan">Meal Plan</a>
      <a routerLink="/membership">Membership</a>
      <a routerLink="/menu">Menu</a>
      <a routerLink="/menulist">Menu List</a>
      <a routerLink="/ordertracking">Order Tracking</a>
      <a routerLink="/restaurant">Restaurant</a>
      <a routerLink="/checkout">Checkout</a>
    </div>
  </div>
</header>

<router-outlet></router-outlet>
